@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.home-username-font{
    font-weight: 800;
}

.form-submit, .pagenotfound-btn{
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    background: #000;
}
.form-submit:hover, .pagenotfound-btn:hover{
    color: #000;
    background: #fff;
    transition: ease-in-out;   
    transition-duration: 0.3s;
    transition-delay: 50ms;
}
.signedup-link{
    margin-top: 10px;
    text-decoration: none;
    color: gray;
}
.signedup-link:hover{
    color: #000;
    text-decoration: underline;
}

.contact-info-item{
    width: 33%;
}

.contact-form-container{
    margin-top: 30px;
    padding: 50px 60px;
    border-bottom: 1px dotted gray;
}

.input-field{
    width: 32%;
    padding: 10px 15px;
    margin-top: 10px;
}
.text-field{
    width: 100%;
    padding: 10px 15px;
}

.home-background-div{
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background:#ececec;
}

.profile-work a{
    text-decoration: none;
    color: #000;
}

.profile-work a:hover{
    text-decoration: underline;
}

.page-not-found-div{
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.label-style{
    color: royalblue;
}